html, body {
  margin: 0;
  padding: 0;
  zoom: 100%;
}
body {
  background: linear-gradient(45deg, #eecc99, #dddd88);
  background-color: green;
  height: 100%;
}

canvas {
  display: block;
  margin: 0 auto;
}
